<div class="side_wrapper"> 

  <div class="side_header">
    <h2 class="user_name">NAME</h2>
  
    <div class="create-room">チャットを作成する</div>
  </div>

  
  

  
  <div class="side_bar">
    <% 20.times do %>
    <%= link_to 'おへや', '/', class: 'rooms' %>
    <% end %>
  </div>





</div>