.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  
}

.side_wrapper{
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side_header{
  height: 100px;
  width: 100%;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room{
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
}

.side_bar{
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.rooms{
  color: white;
  margin: 20px 0 40px;
  display: block;
  text-decoration: none;
}

.main_wrapper{
  width: calc(100vw - 300px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main_header{
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.room_name{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat_exit{
  color: darkred;
  padding: 20px;
  margin-top: 40px;
  border: 1px solid darkred;
  text-decoration: none;
}

.main_chat{
  flex: 1 ;
  width: 100%;
  background-color: #FAFAFA;
  padding:   46px 40px 0;
  overflow: scroll;
}

.chat_content{
  margin: 10px 0 40px;
}

.chater_name{
  font-size: 16px;
  color: #434A54;
}

.chat_date{
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.chat_message{
  font-size: 14px;
  color: #434A54;
  margin-top: 10px;
}

.main_footer{
  height: 90px;
  width: 100%;
  background-color: #DDDDDD;
  padding: 20px 40px;
  
 
}
form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-input{
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}


.message_btn{
  background-color: #38AEF0;
  color: white;
  height: 50px;
  padding: 0 20px;
  display: block;
  margin-left: 15px;
  font-size: 16px;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}